.movie,
.movie h1,
.movie span,
.movie div {
    color: white;
}

::deep .moviePoster {
    border-style: 0;
    max-width: 217px;
    max-height: 319px;
    display: block;
    margin-right: 25px;
}

.movieDetailsContent {
    padding: 30px;
}

.movieTitleRow {
    color: white;
    font-size: 50px;
}