@using Gatarr.Models
@using Gatarr.Models.Radarr
@using Gatarr.Components.Radarr.Movie.Details;
@using Humanizer
@using Microsoft.AspNetCore.Http.Extensions

<div class="movie">
    <a href="/radarr/movies/@Movie.id">
        <Card Hoverable Style="width: 200px;" Cover="GetPosterTemplate()">
            <Body>
            <div>
                <div class="movieTitle">@Movie.title (@Movie.year)</div>
                <div class="runtime">@Movie.runtime.Minutes().Humanize(precision: 2)</div>
                
                <MovieReleases Movie="@Movie" />
            </div>
            </Body>
        </Card>
    </a>
</div>

@code {
    [Parameter]
    public MovieResource Movie { get; set; }

    public RenderFragment GetPosterTemplate()
    {
        return @<img alt="poster" class="poster" src="@Movie?.images?.FirstOrDefault(x => x.coverType == "poster").remoteUrl" />;
    }

}
