@using Gatarr.Models.Sonarr
@using Humanizer

<div class="series">
    <a href="/sonarr/series/@Series.id">
        <Card Hoverable Style="width: 200px;" Cover="GetPosterTemplate()">
            <Body>
            <div>
                <div class="seriesTitle">@Series.title (@Series.year)</div>
                <div class="runtime">@Series.runtime.Minutes().Humanize(precision: 2)</div>
            </div>
            </Body>
        </Card>
    </a>
</div>

@code {
    [Parameter]
    public Series Series { get; set; }

    public RenderFragment GetPosterTemplate()
    {
        return @<img alt="poster" class="poster" src="@Series?.images?.FirstOrDefault(x => x.coverType == "poster").remoteUrl" />;
    }
}