@page "/sonarr/series/{id}"
@using Gatarr.Services
@using Gatarr.Components.Sonarr.Series.Details;
@using Gatarr.Components.Sonarr.Series;
@using Gatarr.Models.Sonarr

@if (CurrentSeries == null)
{
    <PageTitle>Loading...</PageTitle>

    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@CurrentSeries.title</PageTitle>

    <SeriesDetails Series="CurrentSeries" />

    <SeasonsCollapses MovieId="@id" />
}

@code {
    [Parameter]
    public string id { get; set; }

    [Inject]
    public ISonarrService SonarrService { get; set; }

    public Models.Sonarr.Series CurrentSeries { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CurrentSeries = await SonarrService.GetSeries(id);
    }
}