@page "/sonarr"
@using Gatarr.Services
@using Gatarr.Models.Sonarr
@using Gatarr.Components.Sonarr

<PageTitle>Sonarr</PageTitle>

<h1>Sonarr</h1>

@if (Series == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Space Size=@(("8", "16")) Wrap Align="start">
        @foreach (var showSeries in Series)
        {
            <SpaceItem>
                <SeriesCard Series="@showSeries" />
            </SpaceItem>
        }
    </Space>
}

@code {

    [Inject]
    public ISonarrService SonarrService { get; set; }

    public List<Models.Sonarr.Series> Series { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Series = await SonarrService.GetSeries();
    }
}

