@page "/sonarr"
@using Gatarr.Services
@using Gatarr.Components
@using Gatarr.Components.Sonarr

@inject ISonarrService SonarrService

<PageTitle>Sonarr</PageTitle>

<h1>Sonarr</h1>

@if (Series == null)
{
    <LoadingSpinner LoadingText="Loading series from Sonarr..." />
}
else
{
    <Space Size=@(("8", "16")) Wrap Align="start">
        @foreach (var showSeries in Series)
        {
            <SpaceItem>
                <SeriesCard Series="@showSeries" />
            </SpaceItem>
        }
    </Space>
}

@code {
    public List<Models.Sonarr.Series> Series { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Series = await SonarrService.GetSeries();
    }
}

