@using Microsoft.Extensions.Configuration

<section>
    <h2>@Name</h2>
    <div>
        <div>
            <b>Host:</b>
            <input type="text" value="@Configuration[$"{@Name}:Host"]" />
        </div>
        <div>
            <b>Port:</b>
            <input type="number" value="@Configuration[$"{@Name}:Port"]" />
        </div>
        <div>
            <b>API Key:</b>
            <input type="text" value="@Configuration[$"{@Name}:ApiKey"]" />
        </div>
    </div>
</section>

@code {
    [Inject] 
    public IConfiguration Configuration { get; set; }

    [Parameter]
    public string Name { get; set; }
}
