<SpaceItem>
    <div class="infoLabel">@Label</div>
    <div class="info">@Value</div>
</SpaceItem>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }
}
