@using Gatarr.Models.Radarr
@using AntDesign.TableModels

@if (AlternateTitles == null)
{
    <LoadingSpinner LoadingText="Loading alternate titles..." />
}
else
{
    <Table @ref="table"
           TItem="AlternateTitle"
           DataSource="@AlternateTitles"
           Total="_total"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize">
        <Column Title="Alternative Title" TData="string">@context.title</Column>
        <Column Title="Language" TData="string">@context.language.name</Column>
        <Column Title="Type" TData="string">@context.sourceType</Column>
    </Table>
}


@code {
    [Parameter]
    public List<AlternateTitle> AlternateTitles { get; set; }

    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total => AlternateTitles?.Count ?? 0;
}
