@using Gatarr.Models.Radarr
@using Gatarr.Services

@if (Cast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Space Size=@(("8", "16")) Wrap>
        @foreach (var castMember in Cast)
        {
            <SpaceItem>
                <CreditCard credit="@castMember" />
            </SpaceItem>
        }
    </Space>
}

@code {
    [Parameter]
    public string MovieId { get; set; }

    [Inject]
    public IRadarrService RadarrService { get; set; }

    public List<Credit> Cast { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var credits = await RadarrService.GetCredits(MovieId);
        Cast = credits.Where(x => x.type == "cast").ToList();
    }
}