@using Gatarr.Models.Radarr
@using Gatarr.Services

@if (Crew == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Space Size=@(("8", "16")) Wrap>
        @foreach (var crewMember in Crew)
        {
            <SpaceItem>
                <CreditCard credit="@crewMember" />
            </SpaceItem>
        }
    </Space>
}

@code {
    [Parameter]
    public string MovieId { get; set; }

    [Inject]
    public IRadarrService RadarrService { get; set; }

    public List<Credit> Crew { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var credits = await RadarrService.GetCredits(MovieId);
        Crew = credits.Where(x => x.type == "crew").ToList();
    }
}
