@page "/radarr"

@using Gatarr.Components
@using Gatarr.Components.Radarr
@using Gatarr.Models.Radarr
@using Gatarr.Services

@inject IRadarrService RadarrService

<PageTitle>Radarr</PageTitle>

<h1>Radarr</h1>

@if (Movies == null)
{
    <LoadingSpinner LoadingText="Loading movies from Radarr..." />
}
else
{
    <Space Size=@(("8", "16")) Wrap Align="start">
        @foreach (var movie in Movies)
        {
            <SpaceItem>
                <MovieCard Movie="@movie" />
            </SpaceItem>
        }
    </Space>
}

@code {
    public List<MovieResource> Movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Movies = await RadarrService.GetMovies();
    }
}
