@page "/radarr"
@using Gatarr.Services
@using Gatarr.Models.Radarr
@using Gatarr.Components.Radarr

<PageTitle>Radarr</PageTitle>

<h1>Radarr</h1>

@if (Movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Space Size=@(("8", "16")) Wrap Align="start">
        @foreach (var movie in Movies)
        {
            <SpaceItem>
                <MovieCard Movie="@movie" />
            </SpaceItem>
        }
    </Space>
}

@code {

    [Inject]
    public IRadarrService RadarrService { get; set; }

    public List<MovieResource> Movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Movies = await RadarrService.GetMovies();
    }
}
