@page "/radarr"
@using Gatarr.Services
@using Gatarr.Models.Radarr
@using Gatarr.Components.Radarr

<PageTitle>Radarr</PageTitle>

<h1>Radarr</h1>

@if (Movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            @foreach (var movie in Movies)
            {
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MovieCard Movie="@movie" />
                </div>
            }
        </div>
    </div>
}

@code {

    [Inject]
    public IRadarrService RadarrService { get; set; }

    public List<MovieResource> Movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Movies = await RadarrService.GetMovies();
    }
}
